.violet
  => link_to 'К доменам', domains_path
  = link_to 'Экспорт в xls', tasks_path(format: :xls)
  = form_for :task, html: { multipart: true }, remote: true do |f|
    span Выбрать файл
    = f.file_field :attachment
    = f.submit 'Запуск', id: 'launch'
  p#status Статус
  = link_to 'Собрать title', fill_up_titles_path, remote: true
