.green
  => link_to 'К title', tasks_path
  = link_to 'Экспорт в xls', domains_path(format: :xls)
  = form_for :domain, html: { multipart: true }, remote: true do |f|
    span Выбрать файл
    = f.file_field :attachment
    = f.submit 'Запуск', id: 'launch'
  p#status Статус
  => link_to 'Собрать domains', fill_up_domains_path, remote: true
  = link_to 'Добавить номера', add_nums_path, remote: true
